{% extends './base.html' %}
{% load static %}
{% block title %}Category{% endblock title%}
{% block main-content %}
<div class="container my-3">
    <div class="row">
        <div class="col-sm-3">
            <div class="list-group">
                {% for val in name %}
                    <a href="{% url 'category-title' val.name %}" class="list-group-item list-group-item-action" aria-current="True">{{val.name}}</a>
                {% endfor %}

            </div>
        </div>
        <div class="col-sm-9">
            <div class="row">
                {% for prod in product %}
                    <div class="col text-center mb-3">
                        <a href="{% url  'product-detail'  prod.id %}" class="btn">
                            <div>
                                <img src="{{prod.product_image.url}}" alt="" width="300px" height="200px">
                                <div class="fw-bold"><h3>{{prod.name}}</h3></div>
                                <div class="fw-blod text-danger">RS:{{prod.discounted_price}}</div>
                                <div class="fw-light text-decoration-line-through"> RS <del> {{prod.selling_price}}</del></div>
                            </div>
                        </a>
                    </div>
                    
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}