{% extends './base.html' %}
{% load static %}
{% block title %}Customer Registation{% endblock title%}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <h3>Well Come <span class="text-capitalize">{{request.user}}</span></h3>
        <hr>
        <div class="col-sm-3 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url 'passwordchange' %}" class="btn btn-primary">Chnage Password</a></li>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 offset-sm-1 text-center">
            <h3>passwordchange done</h3>
            <iframe src="https://pngtree.com/free-png-vectors/check-mark" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
{% endblock main-content %}
